<!-- <h2>Welcome {{username}}</h2>
<h2>Data: {{getData()}}</h2>
<h2>Addition: {{10+20}}</h2>


<button 
class="btn btn-primary"
[disabled]="isDisabled"
>
    Click</button>

<button (click)="doLogin()">Login</button>

<hr>
two way data binding will be implemented in case of user inputs. 
 thus we need the FormsModule
 <input type="text" [(ngModel)]="email">
 <h2>Entered email is : {{email}}</h2>


 <hr>
 <h2>{{s}}</h2>
 <h2>{{s | uppercase }}</h2>
 <h2>{{s | lowercase }}</h2>

 <h2>Price</h2>
 <h2>{{price}}</h2>
 <h2>{{price| currency }}</h2>
 <h2>{{price| currency:'INR' }}</h2>

 <h2>{{today}}</h2>
 <h2>{{today| date}}</h2>
 <h2>{{today | date:'short'}}</h2>
 <h2>{{today| date:'medium'}}</h2>
<hr>
 <h2>{{obj |json}}</h2> -->

 <hr>

 <div class="alert alert-success" *ngIf="msg">message: {{msg}}</div>

 <div *ngFor="let num of data">
    <h4>{{num}}</h4>
 </div>

